.carousel-control-next {
    color: red;
}

.carousel-indicators {
    display: none;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-inner {
    max-width: 75%;
    margin: 0 auto;
    min-height: 40px;
}
