@media (max-width: 991px) {
    .navigation__element--largescreen-show {
        display: none;
    }
}

@media (min-width: 992px) {
    .navigation__element--mobilescreen-show {
        display: none;
    }
}

.navigation__element.active {
    border-bottom: 2px solid #f2a22c;
}

.navigation__element.inactive {
    border: none;
    color: rgba(0, 0, 0, 0.55) !important;
}
